main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    background-color: #F9F5F6;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    background-color: #FFE382;
    font-size: 1.2em;
    color: #333;

}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease; 
    transform-style: preserve-3d;
    background-color: #ccc;

}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #26547C;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front{
    transform: rotateY(180deg);
}

.back{
    background-image: url('../imagens/costas2.jpg');
    backface-visibility: hidden;
   
}

.reveal-card{
    transform: rotateY(180deg);
}


.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}