  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Pixelify Sans', cursive;

}